li {
  padding-bottom: 5px;
  animation: slide 2000ms infinite alternate-reverse;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

.nav_link {
  transition: background-color 500ms;
  color: indigo;
  font-size: x-large;
  font-family: Trirong, sans-serif;
}

.nav_link:after {
  content: " yo mama";
  font-size: x-large;
}

.nav_link:hover {
  background-color: indigo;
  color: white;
}


section {
  border: 5px solid black;
  width: 100%;
  max-width: 500px;
  height: 80vh;
}
